<div class ="span4">
  <div class = "container-box">
    <form>
      <h3>Research Stocks</h3>
      <form action="/search" method="get">
         <table cellspacing="0" cellpadding="0" border="0" class="search-form-pt-wrapper search-form-table">
            <tbody><tr class="search-form-pt search-form-row">
               <td class="queryFieldCell search-form-cell">
                  <span class="queryFieldWrapper">
                     <input type="text" value="" name="query" class="text queryField">
                  </span>
               </td>
               <td class="queryButtonCell search-form-cell">
                  <span class="queryButtonWrapper">
                     <input type="submit" value="Search" class="btn">
                  </span>
               </td>
            </tr>
         </tbody></table> 
      </form>
    </form>
  </div>
  <div class = "container-box">
    <h3> Stocks Quicklook</h3>
      <table class="table table-striped">
    <thead>
      <tr>
        <th><p>Symbol</p></th>
        <th><p>Price</p></th>
        <th><p>Change</p></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
  </table>
    <%= render :partial => "stock_owned" %>
  </div>
</div>

<div class="span8">
	<div class = "container-box">
		<%= render :partial => "current_games" %>
	</div>
</div>