<div class ="span4">
  <form>
    <input type="text" class = "input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
  <div class = "container-box">
    <h3> Stocks Quicklook</h3>
      <table class="table table-striped">
    <thead>
      <tr>
        <th><p>Symbol</p></th>
        <th><p>Price</p></th>
        <th><p>Change</p></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="span8">
	<div class = "container-box">
		<%= render :partial => "current_games" %>
	</div>
</div>