<div class="row">
	<div class="span12">
		<div class = "container-box">
			<%= render :partial => "current_games" %>
		</div>
	</div>
	<div class = "span6">
		<div class = "container-box">
			<%= render :partial => "upcoming_games" %>
		</div>
	</div>
	<div class = "span6">
		<div class = "container-box">
			<%= render :partial => "past_games" %>
		</div>
	</div>
</div>