<% if !@owned_stock.empty? %>
	<table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Stock Code</th>
              <th>Current Value</th>
            </tr>
          </thead>
          <tbody>
          <% @owned_stock.find(:all, :select => "stock_code, value_in_stocks, total_qty", :group => "stock_code").each do |stock| %>
            <tr>
              <% if (stock.value_in_stocks != 0) && (stock.total_qty != 0) %>
                <td><%= link_to stock.stock_code, src="/search?query=#{stock.stock_code}" %></td>
                <td><%= number_to_currency((stock.get_price).to_f/100) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
<% else %>
  <h3>You do not own stock.</h3>
<% end %>