<% if !@owned_stock.empty? %>
	<table class="table table-condensed">
          <thead>
            <tr>
              <th><p>Stock Code</p></th>
              <th><p align="right">Market Price</p></th>
            </tr>
          </thead>
          <tbody>
          <% @owned_stock_array.uniq.each do |stock| %>
            <tr>
                <td><%= link_to stock[0], src="/search?query=#{stock[0]}" %></td>
                <td><p align="right"><%= number_to_currency(stock[1].to_f/100) %></p></td>
            </tr>
          <% end %>
        </tbody>
      </table>
<% else %>
  <h4>You do not own stocks.</h4>
<% end %>
<%= will_paginate @owned_stock, :param_name => 'owned_stock_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>