<h2>Contact Us</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<td>Weinberg, Prof. Randy</td>
    	<td>Instructor</td>
    	<td>rweinberg@cmu.edu</td>
    	<td>(412)268-3228</td>
    </tr>
    <tr>
    	<td>Bautista, Miko</td>
    	<td>Technical Lead</td>
    	<td>mbautist@andrew.cmu.edu</td>
    	<td>(412)999-1723</td>
    </tr>
    <tr>
    	<td>Kwok, Ryan</td>
    	<td>Project Manager</td>
    	<td>rkwok@andrew.cmu.edu</td>
    	<td>(626)678-5538</td>
    </tr>
    <tr>
    	<td>Parsa, Senna</td>
    	<td>QA, Testing</td>
    	<td>sparsa@andrew.cmu.edu</td>
    	<td>(425)577-3836</td>
    </tr>
    <tr>
    	<td>Shaw, Katarina</td>
    	<td>Information Lead</td>
    	<td>kjshaw@andrew.cmu.edu</td>
    	<td>(414)324-3815</td>
    </tr>
    <tr>
    	<td>Tsai, Emily</td>
    	<td>Design Lead</td>
    	<td>cetsai@andrew.cmu.edu</td>
    	<td>(412)328-5769</td>
    </tr>
  </tbody>
</table>