<h2>FAQs</h2>

<p>
  <div class="well well-small">
 		<h4>Is BattleStocks free to use?</h4><br>
  		BattleStocks is 100% free, and you will never be asked to pay for any of the functionality.
  	</div>
  	<div class="well well-small">
 		<h4>Is the stock data that BattleStocks uses accurate?</h4><br>
  		Yes, the stock data is updated in real-time to reflect the NYSE and NASDAQ reported figures.
  	</div>
  	<h4>Don't see your question here? <%= link_to 'Contact Us', contact_path, :class => 'btn btn'%></h4>
</p>
