<h2>About the Team</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Weinberg, Prof. Randy</td>
    	<td>Instructor</td>
    </tr>
    <tr>
    	<td>Bautista, Miko</td>
    	<td>Technical Lead</td>
    </tr>
    <tr>
    	<td>Kwok, Ryan</td>
    	<td>Project Manager</td>
    </tr>
    <tr>
    	<td>Parsa, Senna</td>
    	<td>QA, Testing</td>
    </tr>
    <tr>
    	<td>Shaw, Katarina</td>
    	<td>UX Designer</td>
    </tr>
    <tr>
    	<td>Tsai, Emily</td>
    	<td>Design Lead</td>
    </tr>
  </tbody>
</table>
