<h3>My Stocks</h3>
<% if !@purchased_stocks.empty? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><p>Stock Code</p></th>
        <th><p align="right">Total Quantity</p></th>
        <th><p align="right">Total Value</p></th>
      </tr>
    </thead>
    <tbody>
      <% @purchased_stocks.each do |purchased_stock| %>
        <tr>
          <% if purchased_stock.total_qty > 0 %>
            <td><%= link_to purchased_stock.stock_code, src="/search?query=#{purchased_stock.stock_code}" %></td>
            <td><p align="right"><%= purchased_stock.total_qty %></p></td>
            <td><p align="right"><%= number_to_currency(purchased_stock.value_in_stocks.to_f/100) %></p></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @purchased_stocks, :param_name => 'game_purchased_stocks_page', :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% else %>
  <h4> You have not yet purchased any stock. </h4>
<% end %>
